<div class="container" id="container" [ngClass]="(flag === true)?'right-panel-active':'empty'">
  <div class="form-container sign-up-container">
    <form action="#">
      <h1 class="create">Create Account</h1>
      <!-- <div class="social-container">
            <a href="#" class="social"><i class="fa fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fa fa-google-plus" aria-hidden="true"></i>
            </a>
            <a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </div> -->
      <span>Please record your information for registration</span>
      <input type="text" placeholder="Name" />
      <input type="email" [ngModelOptions]="{standalone: true}" [(ngModel)]="regUser" placeholder="Email" />
      <input type="password" [ngModelOptions]="{standalone: true}" [(ngModel)]="regPass" placeholder="Password" />
      <button (click)="register()">Register</button>
      <div class="wrong-login">
        {{this._mainService.registerMsg}}
      </div>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="#">
      <h1 class="create">Sign in</h1>
      <!-- <div class="social-container">
            <a href="#" class="social"><i class="fa fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fa fa-google-plus" aria-hidden="true"></i>
            </a>
            <a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </div> -->
      <span> With your existing account</span>
      <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="userLogin" placeholder="Email" />
      <input type="password" [ngModelOptions]="{standalone: true}" [(ngModel)]="passLogin" placeholder="Password" />
      <a href="#">Forgot your password?</a>
      <button data-toggle="modal" data-target=".bd-example-modal-lg" (click)="login()">Login</button>
      <div class="wrong-login">
        {{this._mainService.loginIncorrect}}
      </div>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>
          To keep connected with us please login with your personal info
        </p>
        <button (click)="singIn()" class="ghost" id="signIn">Login</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p> Record your personal information details to register and start!</p>
        <button (click)="singUp()" class="ghost" id="signUp">Register</button>
      </div>
    </div>
  </div>
</div>

<!-- modal reg -->
<!-- <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        {{this._mainService.registerMsg}}
        <div >
            <button  class="button-modal" data-dismiss="modal" (click)="singIn()"> Go Back!</button>
        </div>
    </div>
    
  </div>
</div> -->

<!-- modal log -->
<!-- <div *ngIf='!this._mainService.isLogged'>
<div  class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        {{this._mainService.loginIncorrect}}
        <div>
            <button  class="button-modal" data-dismiss="modal" > Go Back!</button>
        </div>
      </div>
    </div>
  </div>
</div> -->